<div class="small-12 columns">
    <div class="small-12 medium-4 columns">
        {{ form_start(newsletterSubscriptionForm, {'action': path('ROUTE_NEWSLETTER_SUBMIT_FORM', {'newsletter': 'newsletter'}) }) }}
            <div class="input-group">
                <span class="input-group-label">
                    <i class="fa fa-at"></i>
                </span>
                {{ form_row(newsletterSubscriptionForm.email) }}
            </div>

            {{ form_row(newsletterSubscriptionForm.submit) }}
        {{ form_end(newsletterSubscriptionForm) }}
    </div>
</div>
